@import './variables.css';

/* footnotes */
.footnotes {
  margin-top: 2rem;
  font-size: var(--font-size-sub-1);
  max-width: var(--wrap-s);
}

.footnotes:before {
  content: 'References';
  font-size: var(--font-size-0);
  font-family: var(--font-sans);
  font-weight: var(--fw-sans-bold);
  color: var(--gray-700);
}

.footnotes hr {
  border: 0;
}

.footnotes p {
  display: inline-block;
  font-size: var(--font-size-sub-1);
  margin-left: 0.5rem;
}

.footnotes a {
  text-decoration: none;
}

.footnotes .footnote-backref {
  margin-left: 0.5rem;
  font-size: 0.7rem;
  opacity: 0.5;
}

.footnotes .footnote-backref:hover {
  opacity: 1;
}
