@import './variables.css';

.form .field {
  margin-top: 1.5rem;
}

@media (--desktop) {
  .form {
    display: grid;
    margin: 0 auto;
    max-width: 520px;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 1.5rem;
  }
  .form .field {
    margin-top: 0;
  }

  .form .span-2 {
    grid-column: span 2;
  }
}

input[type='text'],
input[type='email'] {
  background-color: white;
  border-radius: var(--border-radius);
  border: 1px solid var(--gray4);
  color: var(--gray1);
  padding: 0.4rem 0.35rem;
  width: 100%;

  &:focus {
    border-color: var(--gray2);
  }
}

input[type='submit'] {
  display: inline-block;
}

textarea {
  background-color: white;
  border-radius: var(--border-radius);
  border: 1px solid var(--gray4);
  padding: 0.4rem 0.35rem;
  width: 100%;
  line-height: 1.35;
  min-height: 240px;
}

label {
  display: block;
  font-size: var(--font-size-sub-1);
  font-weight: var(--fw-bold);
  line-height: 1;
  color: var(--shade-8);
  margin-bottom: 0.5rem;
}
