@import './variables.css';

/* microlinks */
.microlink_card {
  background: white;
  min-width: 100%;
  border-bottom-left-radius: calc(var(--border-radius) * 2);
  border-bottom-right-radius: calc(var(--border-radius) * 2);
  font-family: var(--font-family) !important;
  border: none !important;
}

.microlink_card:hover {
  color: inherit;
}

.microlink_card:hover .microlink_card__content {
  background: var(--gray-200);
}

.microlink_card__content_title {
  color: var(--gray-700);
}

.microlink_card__content_title p {
  font-size: var(--font-size-sub-1);
  font-weight: var(--fw-medium) !important;
}

.microlink_card__content_description {
  color: var(--gray-600);
}

.microlink_card__content_description p {
  line-height: 1.45;
  font-size: var(--font-size-sub-2);
}

.microlink_card__content_url {
  color: var(--color-link);
  font-weight: var(--fw-medium);
}

.microlink_card__content_url p {
  font-size: var(--font-size-sub-2);
}
