@import './variables.css';

/* microlinks */
.microlink_card {
  background: white;
  min-width: 100%;
  border-bottom-left-radius: calc(var(--border-radius) * 2);
  border-bottom-right-radius: calc(var(--border-radius) * 2);
  font-family: var(--font-mono) !important;
  border: none !important;
}

.microlink_card:hover {
  color: inherit;
}

.microlink_card:hover .microlink_card__content {
  background: var(--gray-200);
}

.microlink_card__content {
  display: block !important;
  flex: none !important;
}

.microlink_card__content_title {
  color: var(--gray-600);
  margin-bottom: 0.25rem;
}

.microlink_card__content_title p {
  font-size: 0.65rem;
  line-height: 1.3;
  margin-bottom: 0 !important;
  font-weight: var(--fw-mono-bold) !important;
}

.microlink_card__content_description {
  color: var(--gray-500);
}

.microlink_card__content_description p {
  line-height: 1.35;
  font-size: 0.55rem;
}

.microlink_card__content_url {
  color: var(--color-link);
  font-weight: var(--fw-mono-bold);
  margin-top: 0.25rem;
}

.microlink_card__content_url p {
  font-size: 0.55rem;
}
