:root {
  /* https://coolors.co/01161e-58a4b0-171716-7b9e96-ac3931 */

  /* colors - grays */
  --gray-900: #444446;
  --gray-800: #555557;
  --gray-700: #666668;
  --gray-600: #7f7f81;
  --gray-500: #99999b;
  --gray-400: #b3b3b4;
  --gray-300: #d5d5d6;
  --gray-200: #efefef;
  --gray-100: #fdfdfd;

  --color-primary: #cb5760;

  --color-base: var(--gray-900);
  --color-heading: var(--gray-800);

  --color-bg: white;
  --color-bg-secondary: var(--gray-100);
  --color-link: #cb5760;
  --color-link-hover: #a7484f;

  --color-red: #ac3931;
  --color-green: #7b9e96;

  --color-facebook: #546ba6;
  --color-instagram: #d1617e;

  --color-marker: rgba(255, 255, 0, 0.35);

  --green: #8bc53f;
  --green-mid: #70a031;
  --green-dark: #557925;

  /* font */
  --font-serif: 'adobe-caslon-pro', serif;
  --font-sans: 'futura-pt', 'Helvetica Neue', 'Arial', sans-serif;
  --font-mono: 'source-code-pro', monospace;

  --fw-serif-base: 400;
  --fw-serif-bold: 600;

  --fw-sans-base: 300;
  --fw-sans-bold: 500;

  --fw-mono-base: 400;
  --fw-mono-bold: 600;

  --font-base-size: 14px;
  --line-height: 1.6;
  --line-height-heading: 1.25;
  --letter-spacing: 0.1em;
  --border-radius: 0.15rem;

  /* scale for 1.2 */
  --font-size-0: 1rem;
  --font-size-1: 1.2rem;
  --font-size-2: 1.44rem;
  --font-size-3: 1.728rem;
  --font-size-sub-1: 0.889rem;
  --font-size-sub-2: 0.79rem;

  /* wraps */
  --wrap: 780px;
  --wrap-s: 580px;
  --wrap-l: 54em;
  --wrap-xl: 68em;

  --w-body: 28rem;
  --w-figure: 32rem;
}

@media screen and (min-width: 800px) {
  :root {
    --font-base-size: 21px;
    --line-height: 1.45;
    --line-height-heading: 1.35;

    /* scale for 1.25 */
    --font-size-0: 1rem;
    --font-size-1: 1.25rem;
    --font-size-2: 1.563rem;
    --font-size-3: 1.953rem;
    --font-size-sub-1: 0.8rem;
    --font-size-sub-2: 0.64rem;
  }
}

@media screen and (min-width: 1400px) {
  :root {
    --font-base-size: 23px;
    --line-height: 1.45;
    --line-height-heading: 1.35;

    /* scale for 1.25 */
    --font-size-0: 1rem;
    --font-size-1: 1.25rem;
    --font-size-2: 1.563rem;
    --font-size-3: 1.953rem;
    --font-size-sub-1: 0.8rem;
    --font-size-sub-2: 0.64rem;
  }
}

@media screen and (min-width: 1900px) {
  :root {
    --font-base-size: 28px;
    --line-height: 1.45;
    --line-height-heading: 1.35;

    /* scale for 1.25 */
    --font-size-0: 1rem;
    --font-size-1: 1.25rem;
    --font-size-2: 1.563rem;
    --font-size-3: 1.953rem;
    --font-size-sub-1: 0.8rem;
    --font-size-sub-2: 0.64rem;

    --w-body: 28rem;
    --w-figure: 38rem;
  }
}

/* custom media queries */
@custom-media --desktop (min-width: 940px);
@custom-media --large (min-width: 1400px);
@custom-media --hd (min-width: 1900px);
@custom-media --mobile (max-width: 800px);

/* custom CSS selectors */
@custom-selector :--headings h1, h2, h3, h4, h5, h6;
