@import '../utils/variables.css';

.book {
  margin-top: 4rem;
}

.featured {
  background-color: var(--gray6);
}

.cover {
  width: 100%;
  position: relative;
}

.cover:before {
  content: attr(data-year);
  display: block;
  position: absolute;
  top: -1.5rem;
  font-size: var(--font-size-sub-2);
  color: var(--gray3);
  line-height: 1;
}

.meta {
  padding: 1rem 0.5rem 0.75rem 0.5rem;
}

.title {
  width: 100%;
  font-size: var(--font-size-sub-1);
  margin-bottom: 0.15rem;
  margin-top: 0;
}

.title a {
  color: inherit;
  text-decoration: none;
}

.author {
  width: 100%;
  font-size: var(--font-size-sub-1);
  color: var(--gray2);
}

/* layout */

.book {
  width: 30.83%;
  margin-right: 3.75%;
}
.book:nth-of-type(2n) {
  margin-right: 3.75%;
}
.book:nth-of-type(3n) {
  margin-right: 0;
}

@media (--desktop) {
  .book {
    width: 17%;
    margin-right: 3.75%;
  }
  .book:nth-of-type(2n) {
    margin-right: 3.75%;
  }
  .book:nth-of-type(3n) {
    margin-right: 3.75%;
  }
  .book:nth-of-type(4n) {
    margin-right: 3.75%;
  }
  .book:nth-of-type(5n) {
    margin-right: 0;
  }
}
