@import '../utils/variables.css';

.footer {
  text-align: center;
  font-family: var(--font-mono);
  font-size: 0.45rem;
}

.footer a {
  color: var(--gray-400);
  text-decoration: none;
}

@media (--desktop) {
  .footer {
    display: block;
    text-align: left;
  }
}
