@import '../utils/variables.css';

.footer {
  text-align: center;
}

.footer a {
  color: var(--gray3);
  text-decoration: none;
  font-size: 0.6rem;
}

@media (--desktop) {
  .footer {
    display: block;
    text-align: left;
  }
}
