@import '../utils/variables.css';

.header {
  padding: 1.5rem 0.15rem;
  text-align: center;
}

@media (--desktop) {
  .header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: var(--wrap);
    margin: 0 auto;
    padding: 1rem 0.15rem;
    margin-bottom: 1.5rem;
  }

  .logo {
    width: 50%;
    text-align: left;
  }

  .nav {
    width: 50%;
    text-align: right;
  }
}

/* logo */
.logo a {
  color: inherit;
  text-decoration: none;
}

.name {
  opacity: 0.75;
}

.subtitle {
  margin-left: 0.5rem;
  opacity: 0.35;
}

.nav ul {
  padding: 0;
  /* margin-top: 2rem; */
}

.nav li {
  display: inline-block;
  margin: 0 2rem;
}

.nav a {
  color: var(--gray3);
  text-decoration: none;
  font-weight: var(--fw-medium);
}

.nav a:hover {
  color: var(--gray2);
}

.nav a.active {
  color: var(--gray1);
  font-weight: var(--fw-bold);
}
