@import '../utils/variables.css';

.header {
  padding: 1.5rem 0.15rem;
  text-align: center;
}

@media (--desktop) {
  .header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: var(--wrap);
    margin: 0 auto;
    padding: 1rem 0.15rem;
    margin-bottom: 1.5rem;
  }

  .logo {
    width: 50%;
    text-align: left;
  }

  .nav {
    width: 50%;
    text-align: right;
  }
}

/* logo */
.logo a {
  color: inherit;
  text-decoration: none;
}

.logo:hover .subtitle {
  opacity: 1;
}

.subtitle {
  opacity: 0.65;
  font-weight: var(--fw-medium);
  transition: all 0.25s ease-in-out;
}

.name {
  opacity: 0.35;
  font-size: var(--font-size-sub-1);
  margin-left: 0.25rem;
}

.nav ul {
  padding: 0;
}

.nav li {
  display: inline-block;
  margin-right: 3rem;
}

.nav li:last-of-type {
  margin-right: 0;
}

.nav a {
  color: var(--gray3);
  text-decoration: none;
  font-weight: var(--fw-medium);
}

.nav a:hover {
  color: var(--gray2);
}

.active,
a.active {
  color: var(--gray1);
  border-bottom: 1px solid var(--gray1);
}
