@import '../utils/variables.css';

.nav ul {
  padding: 0;
  margin: 0;
}

.nav li {
  display: inline-block;
  margin-right: 2rem;
  letter-spacing: 0.015em;
}

.nav li:last-of-type {
  margin-right: 0;
}

@media (--desktop) {
  .nav li {
    display: block;
    margin-right: 0;
    margin-bottom: 0.5rem;
  }
}

.nav a {
  color: var(--gray-600);
  display: inline-block;
  font-family: var(--font-mono);
  font-size: 0.55rem;
  font-weight: var(--fw-mono-medium);
  line-height: 1;
  padding: 0.15rem 0.25rem;
  position: relative;
  text-decoration: none;
  transition: all 0.25s ease-in;
  z-index: 10;
  background-image: linear-gradient(
    to left,
    transparent,
    transparent 50%,
    var(--gray-300) 50%,
    var(--gray-300)
  );
  background-position: 100% 0;
  background-size: 200% 100%;
}

@media (--large) {
  .nav a {
    font-size: 0.65rem;
  }
}

.nav a:hover {
  color: var(--gray-900);
  background-position: 0 0;
}

.active,
.nav a.active {
  color: var(--gray-100);
  background-color: var(--gray-900);
  background-position: 100% 0;
}

.active:hover,
.nav a.active:hover {
  background-color: var(--gray-800);
}
