@import '../utils/variables.css';

.reflection {
  margin-top: 1rem;
}

.reflection a {
  text-decoration: none;
}

.cover {
  opacity: 0.9;
  transition: opacity 0.25s ease-in-out;
}

.reflection:hover .cover {
  opacity: 1;
}

.cover img {
  border-radius: var(--border-radius);
}

.title {
  margin-bottom: 0.75rem;
  margin-top: 0;
  font-size: var(--font-size-1);
  color: var(--gray2);
}

.period {
  margin-top: 0.5rem;
  color: var(--gray3);
}
