@import '../utils/variables.css';

.exploration {
  margin-top: 2.5rem;
}

@media (--desktop) {
  .left,
  .right {
    display: grid;
    grid-gap: 1rem;
    align-items: center;
    margin-bottom: 5rem;
  }

  .left {
    grid-template-columns: auto 400px;
  }

  .right {
    grid-template-columns: 400px auto;
    text-align: right;
  }

  .image img {
    width: 100%;
  }

  .body {
    margin-top: 2rem;
  }
}

.body h2 {
  font-family: var(--font-mono);
  margin-bottom: 0.25rem;
  font-size: 1rem;
  font-weight: var(--fw-mono-bold);
}

.body p {
  font-family: var(--font-mono);
  font-size: 0.75rem;
}
