@import '../utils/variables.css';

.exploration {
  margin: 2.5rem auto;
}

.quote {
  margin: 5rem auto;
  text-align: center;
}

.quoteText {
  font-style: italic;
  font-size: 1.25rem;
  color: var(--gray-800);
  line-height: 1.85;
}

.author {
  color: var(--gray-600);
  font-family: var(--font-sans);
  font-weight: var(--fw-sans-base);
}

.themes {
  text-align: center;
}

.themes img {
  width: 100%;
  /* border: 1px solid red; */
}

@media (--desktop) {
  .image img {
    width: 100%;
  }

  .genesis {
    max-width: 840px;
    margin: 0 auto;
  }

  .body {
    margin-top: 1rem;
  }
}

.body h2 {
  font-family: var(--font-mono);
  margin-bottom: 0.25rem;
  font-size: 1rem;
  font-weight: var(--fw-mono-bold);
}

.body p {
  font-family: var(--font-mono);
  font-size: 0.75rem;
}

.inspiration {
  margin-top: 4rem;
}

.inspiration figcaption {
  font-size: 0.7rem;
  margin-top: 0.75rem;
}

.plantArt {
  margin-top: 3rem;
}

.filament {
  margin-top: 5rem;
}

.split {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.nomadic {
  margin-top: 5rem;
}
