@import '../utils/variables.css';

.note {
  max-width: var(--wrap);
  margin: 0 auto;
}

.note p,
.note ul,
.note ol,
.note h2,
.note h3,
.note__footer {
  max-width: var(--wrap-s);
  margin-left: auto;
  margin-right: auto;
}

.note__title {
  margin-bottom: 0;
}

.note__date {
  color: var(--gray3);
}

.note__header {
  text-align: center;
  margin-bottom: 1.25rem;
}

.note__footer {
  margin-top: 3rem;
  font-size: var(--font-size-sub-1);
  color: var(--gray3);
}

.note figure {
  margin: 2rem auto;
}
