@import '../utils/variables.css';

.post {
  max-width: var(--wrap);
  margin: 0 auto;
}

.post p,
.post ul,
.post ol,
.post h2,
.post h3,
.post__footer {
  max-width: var(--wrap-s);
  margin-left: auto;
  margin-right: auto;
}

.post__title {
  margin-bottom: 0;
}

.post__date {
  color: var(--gray3);
}

.post__header {
  text-align: center;
  margin-bottom: 1.25rem;
}

.post__footer {
  margin-top: 3rem;
  font-size: var(--font-size-sub-1);
  color: var(--gray3);
}

.post figure {
  margin: 2rem auto;
}
