@import '../utils/variables.css';

.post {
  max-width: var(--wrap-l);
  margin: 0 auto;
}

.body {
  max-width: var(--wrap);
  margin: 0 auto;
}

.post p,
.post ul,
.post ol,
.post h2,
.post h3,
.footer {
  max-width: var(--wrap-s);
  margin-left: auto;
  margin-right: auto;
}

.post h2:focus,
.post h3:focus {
  outline: none;
}

.post figure {
  margin: 2rem auto;
}

.post figcaption {
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}
/*
.post blockquote {
  margin: 2rem auto;
  text-align: center;
}

.post blockquote p {
  font-size: var(--font-size-1);
  max-width: 100%;
}

.post blockquote p + p {
  font-size: var(--font-size-0);
  margin-top: 0.5rem;
} */

.post ol {
  padding: 0;
}

.post li {
  margin-bottom: 0.25rem;
}

.post table {
  margin: 2rem auto;
}

/* header area */
.header {
  text-align: center;
  margin-bottom: 1.25rem;
}

.title {
  margin-bottom: 0.5rem;
}

.date {
  color: var(--gray3);
}

.hero {
  margin: 2rem auto 3rem auto;
}

/* footer area */
.footer {
  margin-top: 3rem;
  font-size: var(--font-size-sub-1);
  color: var(--gray3);
}
